<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Eames</title>
</head>
<body>
  <div class="topbar">
    <img src="" alt="Logo">
    <nav>
      <ul class="menu">
        <li class="menu-item">About</li>
        <li class="menu-item">Works</li>
        <li class="menu-item">Gallery</li>
      </ul>
    </nav>
  </div>

  <section class="content">
    <h1>Charles & Ray Eames</h1>
    <p class="subtitle">A life of Design</p>
  
    <img id="couple" src="/img/eames-couple.jpeg" alt="">

    <article class="description">
      Charles Eames, born 1907 in St. Louis, Missouri, studied architecture at Washington University in St. Louis and designed a number of houses and churches in collaboration with various partners. His work caught the attention of Eliel Saarinen, who offered him a fellowship at the Cranbrook Academy of Art in Michigan in 1938. In 1940, he and Eero Saarinen won first prize in the 'Industrial Design Competition for the 21 American Republics' - also known as 'Organic Design in Home Furnishings' – organised by the Museum of Modern Art (MoMA) in New York. Eames was appointed head of the industrial design department at Cranbrook the same year.

      Ray Eames was born as Bernice Alexandra Kaiser in Sacramento, California, in 1912. She attended Bennett College in Millbrook, New York, and continued her studies in painting at the Hans Hofmann School of Fine Arts until 1937. During this year she exhibited her work in the first exhibition of the American Abstract Artists group at the Riverside Museum in New York. She matriculated at the Cranbrook Academy of Art in 1940.

      Charles and Ray Eames married in 1941 and moved to Los Angeles, where together they began experimenting with techniques for the three-dimensional moulding of plywood. The aim was to create comfortable chairs that were affordable. However, the war interrupted their work, and Charles and Ray turned instead to the design and development of leg splints made of plywood, which were manufactured in large quantities for the US Navy. In 1946, they exhibited their experimental furniture designs at MoMA. The Herman Miller Company in Zeeland, Michigan, subsequently began to produce Eames furniture. Charles and Ray participated in the 1948 'Low-Cost Furniture' competition at MoMA, and they built the Eames House in 1949 as their own private residence. In addition to their work in furniture design and architecture, they also regularly turned their hand to graphic design, photography, film and exhibition design.

      In 1957 Vitra signed a licence agreement with Herman Miller and began producing the Eameses' designs for Europe and the Middle East. Charles and Ray Eames have had a profound and lasting influence on Vitra. It was the encounter with their work that spurred the company's beginnings as a furniture manufacturer. Yet it is not just the products of Charles and Ray Eames that have left a mark on Vitra. Even today, their design philosophy continues to significantly shape the company's values, orientation and goals.

      This seminal influence is most clearly reflected in the question that is always asked at Vitra when making important design decisions: What would Charles and Ray say? Over the course of their shared lifetime, the couple gave their answers during trips to Europe and return visits to California. Since the death of Charles (1978) and Ray (1988), Vitra has remained in close contact with the Eames family, which now runs the Eames Office, regarding all matters concerning the preservation, further development and production of Eames designs. Vitra is the sole authorised manufacturer of Eames products for Europe and the Middle East. When you own an Eames product made by Vitra, you know it is an original.

      Furniture by Charles and Ray Eames has been a cornerstone of the Vitra Design Museum collection since its inception. A major part of the objects in the couple's estate was received in 1988. After presenting the exhibition 'The Work of Charles and Ray Eames' in 1997/98, the Vitra Design Museum is now holding a comprehensive retrospective of the couple's lifework in 2017/18 entitled 'An Eames Celebration', divided into four parallel exhibitions on the Vitra Campus in Weil am Rhein. To mark the occasion, the Vitra Design Museum has published the 'Eames Furniture Sourcebook' and 'Essential Eames: Words & Pictures'.
    </article>
  </section>
  <footer>
    <p>© RMS</p>
  </footer>
</body>
</html>