<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Works</title>
</head>
<body>
  <div class="topbar">
    <a href="/"><img src="/img/signature.png" alt="Logo"></a>
    <nav>
      <ul class="menu">
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="menu-item"><a href="/works">Works</a></li>
        <li class="menu-item"><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>

  <section class="content">
    <h1>Products</h1>
    <p class="subtitle">The art behind sitting</p>

    <article class="products">
      <div class="product">
        <img src="/img/lounge-chair.png" alt="lounge chair and ottoman">
        <div class="product-description">
          <h2>Lounge Chair and Ottoman</h2>
          <p>The Lounge Chair, created by Charles and Ray Eames in the 1950s, was designed with the aim of combining an elegant appearance with ultimate comfort. It has been produced by Vitra using virtually the same methods ever since, and is now recognised as a great classic of twentieth-century furniture design. Offered in two sizes and various configurations with different types of leather upholstery covers, wooden shells and bases, the Lounge Chair is ideally complemented by the matching Ottoman.</p>
        </div>
      </div>
      <div class="product">
        <div class="product-description">
          <h2>Eames Plastic Side Chair</h2>
          <p>For the Dining Height Side Chair Wood Base (DSW), Charles and Ray Eames combined the organically shaped seat shell with a four-legged wooden base. This mix of plastic and wood lends the classic design a certain warmth and casual appeal. The seat shells can be fitted with seat cushions or full upholstery in a wide selection of fabric colours, enabling a multitude of individual configurations.</p>
        </div>
        <img src="/img/plastic-chair.png" alt="">
      </div>
      <div class="product">
        <img src="/img/plywood-elephant.png" alt="">
        <div class="product-description">
          <h2>Eames Elephant</h2>
          <p>Charles and Ray Eames developed a toy elephant made of plywood in 1945; however, this piece never went into production. One prototype was shown at the Museum of Modern Art in New York in 1946 and still survives in the Eames family archives today. After a limited edition in 2007, Vitra has now launched serial production of the Eames Elephant in plywood for the very first time.</p>

          <p>The Eames Elephant is also available in plastic, ideal for children, as well as in a smaller version, Eames Elephant (small), which comes in a variety of colours and is also made of plastic.</p>
        </div>
      </div>
      <div class="product">
        <div class="product-description">
          <h2>Plywood Group</h2>
          <p>The small Lounge Chair Wood (LCW) is an iconic design by Charles and Ray Eames that dates from the period of their early experiments with three-dimensionally moulded plywood.</p>
        </div>
        <img src="/img/plywood.webp" alt="">
      </div>
    </article>
  </section>
  <footer>
    <p>© RMS</p>
  </footer>
</body>
</html>